{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Resultados - {{perfil.usuario.get_full_name}}</title>
{% endblock title %}

{% block style %}
<style>
    .dasElement {
        box-shadow: 2px 2px 2px 1px rgb(241, 83, 83);
    }
</style>
{% endblock style %}


{% block content %}
<div class="clearfix1">
    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8">
            <h4 class="sb-title-1" >Resultados </h4>
            <p>A continuación te mostramos tus resultados.</span></p>
        </div>
        <div class="col-md-2"></div>
    </div>
    
    <div class="row text-center" id="resultados">
    
    </div>
</div>

<div id="modal_videos">

</div>

{% endblock content %}

{% block script %}
<script>

    $('body').on('click', '.ver_video', function () {
        let url_video = $(this).attr('data-url');
        let title = $(this).attr('data-title');
        $('#modal_videos').empty();
        $('#modal_videos').append(`
         <div class="modal fade" id="modalVideo" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="staticBackdropLabel"><b>Vídeo informativo: ${title}</b></h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                 <div class="modal-body">
                     <iframe width="100%" height="506" src="${url_video}?autoplay=1"
                         title="YouTube video player" frameborder="0"
                         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                         allowfullscreen></iframe>
                 </div>
             </div>
          </div>
        </div>
    `);
        $('#modalVideo').modal('show');
    });

    $('body').on('click', '.escuchar_audio', function () {
        let url_audio = $(this).attr('data-url');
        let title = $(this).attr('data-title');
        let id_audio = $(this).attr('id-audio');
        $(`#audio_play${id_audio}`).empty();
        $(`#audio_play${id_audio}`).append(`
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="${url_audio}" title="${title}" target="_blank" style="color: #cccccc; text-decoration: none;">${title}</a></div>
    `);
    });


    $(function () {
        $.ajax({
            url: "{% url 'get_resultados_json' %}",
            type: 'GET',
            dataType: 'json', // added data type
            success: function (res) {
                console.log(res);
                let das = ['das_ansiedad', 'das_estres', 'das_depresion']
                $('#resultados').empty();
                res.map(element => {
                    if (das.includes(element.id)) {
                        $('#resultados').append(`
                        <div class="col-md-4">
                            <div class="card dasElement" style="width: 20rem;">
                                <div class="card-body">
                                    <h5 class="card-title mb-0"><b>${element.topico}</b></h5>
                                    ${element.resultado} <hr>
                                    <div class="text-center">
                                    ${element.informacion}
                                    <br>
                                    <a href="#" data-title="${element.topico}" data-url="${element.retro_video}" class="card-link ver_video">Vídeo <i class="far fa-play-circle"></i></a>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a href="#" data-title="${element.topico}" id-audio=${element.id} data-url="${element.retro_audio}" class="card-link escuchar_audio">Audio <i class="far fa-play-circle"></i></a>
                                    <div id="audio_play${element.id}" ></div>
                                </div>
                                </div>
                            </div>
                        </div>
                        `);
                    } else {
                        $('#resultados').append(`
                        <div class="col-md-4">
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <h5 class="card-title mb-0"><b>${element.topico}</b></h5>
                                    ${element.resultado} <hr>
                                    <div class="text-center">
                                    ${element.informacion}
                                    <br>
                                    <a href="#" data-title="${element.topico}" data-url="${element.retro_video}" class="card-link ver_video">Vídeo <i class="far fa-play-circle"></i></a>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <a href="#" data-title="${element.topico}" id-audio=${element.id} data-url="${element.retro_audio}" class="card-link escuchar_audio">Audio <i class="far fa-play-circle"></i></a>
                                    <div id="audio_play${element.id}" ></div>
                                </div>
                                </div>
                            </div>
                        </div>
                        `);
                    }
                });
            }
        });
    });
</script>

{% endblock script %}